@import url('https://fonts.googleapis.com/css?family=Exo:400,700|Permanent+Marker');

body {
    font-family: 'Exo', sans-serif;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.navbar-brand {
    font-family: 'Permanent Marker', cursive!important;
    font-size: 180%!important;
    text-shadow: 0 0 3px #fff;
}

nav.navbar.navbar.navbar-toggleable-md.navbar-inverse.bg-inverse {
    margin-bottom: 30px;
}

.jumbotron {
    background-color: #eee;
}

.content {
     flex: 1;
}

.panel-heading h3 {
    font-family: 'Exo', sans-serif;
    text-shadow: 0 0 3px #fff;
}
.header-above-form {
    text-transform: uppercase;    
}

#btn-edit {
    float: left;
}

#btn-delete {
    float: right;
}


#footer {
    color: #fff;
    background: #333;
    margin-top: 30px;

    p {
        padding: 20px 0 0 10px;
    }
}